* {
    color: #eee;
    font-family: 'Gill Sans';
}
body{
    background-color: black;
}
.listenButton{
    padding: 20px;
    border: 3px solid white;
    border-radius: 15px;
    margin-top: 5vh;
    box-shadow: 0px 5px #ccc;
}
a {
    text-decoration: none;
}
img {
    border: 1vw solid #666;
    box-shadow: 5vw 5vw #444;
}
h1 {
    color: #999
}