/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
* {
    text-align: center;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-content: center;
}
.sides {
}

#center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

header{
    border: 3px solid red;
    width: 100%;
}
header h1 {
    text-align: center;
    color: blue;
}
.stickTheNav{
    position: fixed;
}
nav {
    display: flex;
    justify-content: center;
    background: none;
}
nav div{
    background-color: yellow;
}
nav div:hover{
    background-color: white;
}
nav div a{
    color: blue;
    text-decoration: none;
    margin: 15px;
}
nav div a:hover{
    color: blue;
    text-decoration: none;
}
#news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#news h2 {
    color: red;
}
#news h3 {
    color: blue;
    font-size: 18px;
}
p {
    color: blue;
}
a {
    color: blue;
}
.listenBox {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}
.listenBox:hover {
    background-color: rgba(0, 0, 255, 0.1);
    color: black;
    text-decoration: none;
}
.listenLink {
    padding: 25px;
}
.listenLink:hover {
    color: black;
}
.pageImg {
    width: 350px;
    padding-top: 15px;
}
.buttonLink:hover {
    text-decoration: none;
    color: blue;
    background-color: white;
}
.buttonLink {
    color: white;
    background-color: red;
    font-size: 18px;
    margin: auto;
    padding: 15px;
}
#tshirt {
   width: 200px;
}
.spaceMe {
    width: 95%;
    margin: 15px;
}
#background {
    position: absolute;
    z-index: -1;
    height: 800px;
    width: 100%;
    overflow: hidden;
}
.backShape {
    position: absolute;
    width: 250px;
}
@keyframes rt1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}
@keyframes rt2 {
    from {margin-left:10%;}
    to{margin-right:20%;}
}
@keyframes yr {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
    from {margin-top: 100px;}
    to {margin-top: 250px;}
}
@keyframes bc {
    from {margin-top: 330px;}
    to {margin-top: 500px;}
}
#rt {
    margin-left: 10%;
    margin-top: 25px;
    animation: rt1 17s linear 0s infinite;
}
#rt2 {
    animation: rt2 21s ease-in-out 0s infinite alternate;
}
#yr {
    width: 110px;
    right: 60%;
    animation: yr 30s linear 0s infinite alternate-reverse;
}
#bc {
    animation: bc 2.5s ease-in-out 0s infinite alternate;
}