/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
* {
    text-align: center;
}
.flex {
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-content: center;
}
.sides {
}

#center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

header{
    border: 3px solid red;
    width: 100%;
}
header h1 {
    text-align: center;
    color: blue;
    background-color: white;
}
.stickTheNav{
    position: fixed;
}
nav {
    display: flex;
    justify-content: center;
}
nav div{
    background-color: yellow;
}
nav div:hover{
    background-color: white;
}
nav div a{
    color: black;
    text-decoration: none;
    margin: 15px;
}
nav div a:hover{
    color: black;
    text-decoration: none;
}
#news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#news h2 {
    color: red;
}
#news h3 {
    font-size: 18px;
}
p {
    color: blue;;
}
.pageImg {
    width: 350px;
    padding-top: 15px;
}
.buttonLink:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}
.buttonLink {
    color: white;
    background-color: red;
    font-size: 18px;
    margin: auto;
    padding: 15px;
}
#tshirt {
   width: 200px;
}
.spaceMe {
    width: 95%;
    margin: 15px;
}
#background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.backShape {
    width: 300px;
}
@keyframes rt {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}
@keyframes bt {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}
#rt {
    margin-left: 60%;
    animation: rt 18s linear 0s infinite;
}
#bt {
    width: 100px;
    margin-right: 60%;
    animation: bt 30s linear 0s infinite reverse;
}