/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
#center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 5000px;
}
header {
    display: flex;
    justify-content: center;
}
header h1 {
    justify-content: center;
}
.stickTheNav{
    position: fixed;
}
nav {
    display: flex;
    justify-content: center;
    flex
}
nav div{
    background-color: blue;
}
nav div:hover{
    background-color: red;
}
nav div a{
    color: white;
    text-decoration: none;
    margin: 15px;
}
nav div a:hover{
    color: white;
    text-decoration: none;
}
